<div class="col-lg-8 col-md-12 pd-right-none pd-left-none">
    <div class="main-conversation-box">
        <div class="main-conversation-place-holder">

        </div>
        <div class="message-send-area">
            
            <div class="mf-field">
                <input type="text" class="txt-chat-message" placeholder="Type a message here">
                <button type="button" class="btn-send-chat-message">Send</button>
            </div>
            <ul class="more-option-icons">
                <li><a href="#" title=""><i class="fa fa-smile-o"></i></a></li>
                <li><a href="#" title=""><i class="fa fa-camera"></i></a></li>
                <li><a href="#" title=""><i class="fa fa-paperclip"></i></a></li>
            </ul>
            
        </div>
    </div>
</div>