

<section class="messages-page">
    <div class="container">

        <div class="messages-sec">
            <div class="row">

                @Html.Action("GetUsers")
                @Html.Partial("_ChatPartial")
            </div>
        </div>
    </div>
</section>
@section scripts {

}
