<div style="display:none">
    <ul>
        <li class="active">
            <div class="usr-msg-details">
                <div class="usr-ms-img">
                    <img src="/images/m-img1.png" alt="">
                    <span class="msg-status"></span>
                </div>
                <div class="usr-mg-info">
                    <h3>Peter Parker</h3>
                    <p>Lorem ipsum dolor <img src="/images/smley.png" alt=""></p>
                </div>
                <span class="posted_time">1:55 PM</span>
                <span class="msg-notifc">1</span>
            </div>
        </li>
        <li>
            <div class="usr-msg-details">
                <div class="usr-ms-img">
                    <img src="/images/m-img2.png" alt="">
                </div>
                <div class="usr-mg-info">
                    <h3>David Vane</h3>
                    <p>Vestibulum ac diam..</p>
                </div>
                <span class="posted_time">1:55 PM</span>
            </div>
        </li>
        <li>
            <div class="usr-msg-details">
                <div class="usr-ms-img">
                    <img src="/images/m-img3.png" alt="">
                </div>
                <div class="usr-mg-info">
                    <h3>Nancy Dilan</h3>
                    <p>Quam vehicula.</p>
                </div>
                <span class="posted_time">1:55 PM</span>
            </div>
        </li>
        <li>
            <div class="usr-msg-details">
                <div class="usr-ms-img">
                    <img src="/images/m-img4.png" alt="">
                    <span class="msg-status"></span>
                </div>
                <div class="usr-mg-info">
                    <h3>Norman Kenney</h3>
                    <p>Nulla quis lorem ut..</p>
                </div>
                <span class="posted_time">1:55 PM</span>
            </div>
        </li>
        <li>
            <div class="usr-msg-details">
                <div class="usr-ms-img">
                    <img src="/images/m-img5.png" alt="">
                    <span class="msg-status"></span>
                </div>
                <div class="usr-mg-info">
                    <h3>James Dilan</h3>
                    <p>Vivamus magna just..</p>
                </div>
                <span class="posted_time">1:55 PM</span>
            </div>
        </li>
        <li>
            <div class="usr-msg-details">
                <div class="usr-ms-img">
                    <img src="/images/m-img6.png" alt="">
                </div>
                <div class="usr-mg-info">
                    <h3>Mike Dorn</h3>
                    <p>Praesent sapien massa.</p>
                </div>
                <span class="posted_time">1:55 PM</span>
            </div>
        </li>
        <li>
            <div class="usr-msg-details">
                <div class="usr-ms-img">
                    <img src="/images/m-img7.png" alt="">
                </div>
                <div class="usr-mg-info">
                    <h3>Patrick Morison</h3>
                    <p>Convallis a pellente...</p>
                </div>
                <span class="posted_time">1:55 PM</span>
            </div>
        </li>
    </ul>
    <div class="main-message-box">
        <div class="messg-usr-img">
            <img src="/images/m-img1.png" alt="" class="mCS_img_loaded">
        </div>
        <div class="message-dt">
            <div class="message-inner-dt img-bx">
                <img src="/images/mt-img1.png" alt="" class="mCS_img_loaded">
                <img src="/images/mt-img2.png" alt="" class="mCS_img_loaded">
                <img src="/images/mt-img3.png" alt="" class="mCS_img_loaded">
            </div>
            <span>Sat, Aug 23, 1:08 PM</span>
        </div>
    </div>
    <div class="main-message-box ta-right">
        <div class="message-dt">
            <div class="message-inner-dt">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum congue leo eget malesuada. Vivamus suscipit tortor eget felis porttitor.</p>
            </div>
            <span>Sat, Aug 23, 1:08 PM</span>
        </div>
        <div class="messg-usr-img">
            <img src="@SessionHelper.UserImage" alt="" class="mCS_img_loaded">
        </div>
    </div>
    <div class="main-message-box st3">
        <div class="message-dt st3">
            <div class="message-inner-dt">
                <p>Cras ultricies ligula.<img src="/images/smley.png" alt="" class="mCS_img_loaded"></p>
            </div>
            <span>5 minutes ago</span>
        </div>
        <div class="messg-usr-img">
            <img src="/images/m-img1.png" alt="" class="mCS_img_loaded">
        </div>
    </div>
    <div class="main-message-box ta-right">
        <div class="message-dt">
            <div class="message-inner-dt">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum congue leo eget malesuada. Vivamus suscipit tortor eget felis porttitor.</p>
            </div>
            <span>Sat, Aug 23, 1:08 PM</span>
        </div>
        <div class="messg-usr-img">
            <img src="@SessionHelper.UserImage" alt="" class="mCS_img_loaded">
        </div>
    </div>
    <div class="main-message-box st3">
        <div class="message-dt st3">
            <div class="message-inner-dt">
                <p>Lorem ipsum dolor sit amet</p>
            </div>
            <span>2 minutes ago</span>
        </div>
        <div class="messg-usr-img">
            <img src="/images/m-img1.png" alt="" class="mCS_img_loaded">
        </div>
    </div>
    <div class="main-message-box ta-right">
        <div class="message-dt">
            <div class="message-inner-dt">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum congue leo eget malesuada. Vivamus suscipit tortor eget felis porttitor.</p>
            </div>
            <span>Sat, Aug 23, 1:08 PM</span>
        </div>
        <div class="messg-usr-img">
            <img src="@SessionHelper.UserImage" alt="" class="mCS_img_loaded">
        </div>
    </div>
    <div class="main-message-box st3">
        <div class="message-dt st3">
            <div class="message-inner-dt">
                <p>....</p>
            </div>
            <span>Typing...</span>
        </div>
        <div class="messg-usr-img">
            <img src="/images/m-img1.png" alt="" class="mCS_img_loaded">
        </div>
    </div>
</div>