@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Forgot Password Confirmation";
}

    <div class="col-lg-6">
        <div class="login-sec">
            <div class="sign_in_sec current" style="margin-top:270px;">
                <hgroup class="title">
                    <h1>@ViewBag.Title.</h1>
                </hgroup>
                <div>
                    <p>
                        Please check your email to reset your password.
                    </p>
                </div>
            </div>
        </div>
    </div>
