@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Reset password confirmation";
}
<div class="col-lg-6">
    <div class="login-sec">
        <div class="sign_in_sec current ">
            <div class="dff-tab current">
                <h1>@ViewBag.Title.</h1>
                <p>
                    Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            </div><!--dff-tab end-->
        </div>
    </div><!--login-sec end-->
</div>