

<section class="companies-info">
    <div class="container">
        <div class="company-title">
            <h3>All Companies</h3>
        </div><!--company-title end-->
        <div class="companies-list">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="company_profile_info">
                        <div class="company-up-info">
                            <img src="~/images/Upload/bb54610f2d9a4380a7ddcd70af0bfa55.png" alt="">
                            <h3>Fazur</h3>
                            <h4>CEO in Business</h4>
                            <ul>
                                <li><a href="#" title="" class="follow">Follow</a></li>
                                <li><a href="#" title="" class="message-us"><i class="fa fa-envelope"></i></a></li>
                                <li><a href="#" title="" class="hire-us">Hire</a></li>
                            </ul>
                        </div>
                        <a href="/MyProfileFeed/Index/Fazur" title="" class="view-more-pro">View Profile</a>
                    </div><!--company_profile_info end-->
                </div>
            </div>
        </div><!--companies-list end-->
        
    </div>
</section><!--companies-info end-->
