@{
    var username = ViewData["username"] != null ? ViewData["username"].ToString() : string.Empty;
}
    <section class="cover-sec">
        <img src="/images/cover-img.jpg" alt="">
        @if (username == User.Identity.Name)
        {
            <div class="add-pic-box">
                <div class="container">
                    <div class="row no-gutters">
                        <div class="col-lg-12 col-sm-12">
                            <input type="file" id="coverimage">
                            <label for="coverimage">Change Image</label>
                        </div>
                    </div>
                </div>
            </div>
        }

    </section>
