<div class="overview-box" id="create-portfolio">
    <div class="overview-edit">
        <h3>Create Portfolio</h3>
        <form>
            <input type="text" name="pf-name" placeholder="Portfolio Name">
            <div class="file-submit">
                <input type="file" id="file">
                <label for="file">Choose File</label>
            </div>
            <div class="pf-img">
                <img src="/images/np.png" alt="">
            </div>
            <input type="text" name="website-url" placeholder="htp://www.example.com">
            <button type="submit" class="save">Save</button>
            <button type="submit" class="cancel">Cancel</button>
        </form>
        <a href="#" title="" class="close-box"><i class="fa fa-close"></i></a>
    </div><!--overview-edit end-->
</div><!--overview-box end-->
