
<div class="post-topbar">
    <div class="user-picy">
        <img src="@SessionHelper.UserImage" alt="">
    </div>
    <div class="status-text">
        <span> What is in your mind?</span>
    </div>
    <div class="post-st">
        <ul>
            <li>
                <a class="post_project active" href="#" title="">Create Post</a>
            </li>
            <li style="display:none">
                <a class="post-jb" href="#" title="">Post a Job</a>
            </li>
        </ul>
    </div><!--post-st end-->
</div><!--post-topbar end-->