@model  Workwise.Models.Post

@if (Model.HasCommmet)
{
    <div class="posty">
        @Html.Partial("_PostPartial")
        @Html.Partial("_PostCommentPartial")
    </div>

}
else
{
    @Html.Partial("_PostPartial")
}
