@model  Workwise.Data.Models.Post

@if (Model.HasCommmet)
{
    <div class="posty">
        @Html.Partial(@"~\Views\Index\_PostPartial.cshtml")
        @Html.Partial(@"~\Views\Index\_PostCommentPartial.cshtml")
    </div>

}
else
{
    @Html.Partial(@"~\Views\Index\_PostPartial.cshtml")
}
