@model List<Workwise.Data.Models.UserProfile>

@foreach (var user in Model)
{

    <div class="suggestion-usd">
        <img src="@user.ImageUrl" alt="">
        <div class="sgt-text">
            <a href="/MyProfileFeed/Index/@user.UserId" title="" tabindex="-1"><h4>@user.FirstName</h4></a>
            <span>@user.Designation</span>
        </div>
        <span class="follow-user sendRequest" data-user-id="@user.UserId"><i class="fa fa-plus"></i></span>
    </div>
}

