@using Workwise.Models;
@model List<Post>
<div class="product-feed-tab current" id="feed-dd">
    <div class="posts-section">
        @*@Html.Action("GetPosts", "Index")*@

        @foreach (var post in Model)
        {
            @Html.Partial(@"~\Views\Index\_PostDetail.cshtml", post)
        }
    </div><!--posts-section end-->
</div><!--product-feed-tab end-->
