@{
    var username = ViewData["username"] != null ? ViewData["username"].ToString() : string.Empty;
}
<div class="col-lg-3">
    <div class="right-sidebar">

        @if (username == User.Identity.Name)
        {
            <div class="message-btn">
                <a href="/profileaccountsetting/" title=""><i class="fa fa-cog"></i> Setting</a>
            </div>
        }
        else
        {
            <div class="message-btn">
                <a href="/messages/" title=""><i class="fa fa-envelope"></i> Message</a>
            </div>
        }



        <div class="widget widget-portfolio">
            <div class="wd-heady">
                <h3>Portfolio</h3>
                <img src="/images/photo-icon.png" alt="">
            </div>
            <div class="pf-gallery">
                <ul>
                    <li><a href="#" title=""><img src="/images/pf-img1.jpg" alt=""></a></li>
                    <li><a href="#" title=""><img src="/images/pf-img2.jpg" alt=""></a></li>
                    <li><a href="#" title=""><img src="/images/pf-img3.jpg" alt=""></a></li>
                    <li><a href="#" title=""><img src="/images/pf-img4.jpg" alt=""></a></li>
                    <li><a href="#" title=""><img src="/images/pf-img5.jpg" alt=""></a></li>
                    <li><a href="#" title=""><img src="/images/pf-img6.jpg" alt=""></a></li>
                    <li><a href="#" title=""><img src="/images/pf-img7.jpg" alt=""></a></li>
                    <li><a href="#" title=""><img src="/images/pf-img8.jpg" alt=""></a></li>
                    <li><a href="#" title=""><img src="/images/pf-img9.jpg" alt=""></a></li>
                    <li><a href="#" title=""><img src="/images/pf-img10.jpg" alt=""></a></li>
                    <li><a href="#" title=""><img src="/images/pf-img11.jpg" alt=""></a></li>
                    <li><a href="#" title=""><img src="/images/pf-img12.jpg" alt=""></a></li>
                </ul>
            </div><!--pf-gallery end-->
        </div><!--widget-portfolio end-->
    </div><!--right-sidebar end-->
</div>
