@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";

}
<div class="col-lg-6">
    <div class="login-sec">
        <ul class="sign-control">
            <li data-tab="tab-1" class="current"><a href="/Login/Index" title="">Sign in</a></li>
            <li data-tab="tab-2"><a href="/Login/Register" title="">Sign up</a></li>
        </ul>
        @Html.Partial("~/Views/Login/_LoginPartial.cshtml")
    </div><!--login-sec end-->
</div>

